body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6879dc;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #1b1b21;
}
form {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.task-app-container {
  max-width: 320px;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*task-app-header starts here */

.task-app-header {
  margin: 20px 0;
  width: 100%;
}
.task-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-heading {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.task-clear-all {
  position: relative;
  color: #5438dc;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.task-clear-all::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #5438dc;
  transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.task-clear-all:hover::after {
  width: 100%;
}

.task-status {
  font-size: 12px;
  color: #777;
  font-weight: 500;
}

/*tasklist styles starts here */

.task-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 0 10px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 13px 12px 13px 10px;
  border: 1px solid #ececec;
  margin-bottom: 12px;
  background-color: #fcfcfc;
}

.task-text {
  flex-grow: 1;
  text-align: left;
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 10px;
}

.delete-task {
  background-color: #feecec;
  border-radius: 50%;
  font-size: 13px;
  color: #eb0000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* empty state styles */

.empty-state-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 0 10px;
}
.empty-state-image {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-state-heading {
  font-size: 18px;
  padding-bottom: 15px;
}

/*task-input-section*/
.task-input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.task-input-section input,
.task-input-section button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.task-input {
  width: 100%;
  padding: 13px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;
}
.task-input-section .task-input {
  width: 100%;
}
.task-input::placeholder {
  font-weight: 500;
  color: #777;
}
.task-input:focus {
  border-color: #5438dc !important;
  position: relative;
}
.task-input:focus-visible {
  outline: none;
}
.add-task {
  width: 100%;
  background-color: #5438dc;
  color: #fff;
  font-size: 13px;
  padding: 13px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.add-task:hover {
  background-color: #3a2f9b;
}
.add-task:disabled {
  background-color: #74767d;
  color: #ffffff;
  cursor: not-allowed;
}

.task-input-section hr {
  border: none;
  height: 1px;
  background-color: #dcdcdc;
  margin: 30px -20px;
  width: calc(100% + 40px);
  border-radius: 5px;
}

/*is hidden and visible classes*/
.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}
